.Active {
  color: green;
  background-color: rgba(0, 128, 0, 0.08);
  border-radius: 70px;
  width: 90px;
  text-align: center;
  padding: 3px 20px;
}
.Inactive {
  color: rgb(255, 3, 3);
  background-color: rgba(255, 3, 3, 0.08);
  border-radius: 70px;
  width: 90px;
  text-align: center;
  padding: 3px 20px;
  display: flex;
  justify-content: center;
}
.sers {
  border-bottom: 5px solid rebeccapurple;
}
.ist {
  border-top: 4px solid rebeccapurple;
}
.body {
  width: 100%;
  padding: 60px 10px;
  background-color: rgb(238, 241, 243);
}
.div {
  width: 90%;
  height: 86%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
  background-color: rgb(238, 241, 243);
  border: 1px solid lightgray;
  flex-direction: column;
}
.main{
  width: 90%;
  margin: auto;
  padding: 30px;
  border-radius: 30px;
  background-color: aliceblue;
  justify-content: center;
  gap: 100px;
  font-size: 20px;
  font-weight: 560;
  align-items: center;
}
main{
  margin: auto;
  padding: 10px;
  background-color: rgb(242, 243, 245);
  padding-bottom: 52px;
}
.select{
  border: 1px solid lightgray;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: white;
}
#inputsModal{
  width: 95%;
  margin: auto;
  padding: 10px 7px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 10px;
}
.Save{
  border: 1px solid lightgray;
  padding: 10px 221px;
  border-radius: 5px;
  background-color: rgb(35, 127, 255);
  font-size: 16px;
  font-weight: 550;
  color: white;
  margin-top: 10px;
}
.Controller{
margin-top: 10px;
padding: 10px;
font-size: 16px;
}